<%= link_to "Create New Project", new_project_path %>
<h1>All Project</h1>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project%>
    </li><br>
  <% end %>
</ul>
